@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Exo:wght@500&family=Josefin+Sans&family=Lato&display=swap");

.aboutMe {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(217, 228, 227, 0.7);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Exo", sans-serif;
    height: 10vh;
    letter-spacing: 10px;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 5px;
    width: 100vw;
    text-align: center;
    color: rgb(24, 86, 106);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    text-align: center;
    margin: 20px;
    position: relative;
}

.timelineWrap {
    text-align: center;
    margin: 20px;
    position: relative;
    width: 100%;
}

.timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.timelineWrap:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 7px dotted rgb(24, 86, 106);
    width: 100%;
    transform: translateY(-50%);
}

.event {
    cursor: pointer;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    border: 5px solid rgb(24, 86, 106);
    background-color: rgb(217, 228, 227);
    transition: 0.25s ease-out;
    font-family: "Exo", sans-serif;
    letter-spacing: 3px;
    font-size: 2.6vw;
    color: rgb(24, 86, 106);
    display: flex;
    justify-content: center;
    align-items: center;
}

.event:hover {
    border: 7px solid rgb(217, 228, 227);
    background-color: rgb(24, 86, 106);
    font-size: 3vw;
    color: rgb(217, 228, 227);
}

@media only screen and (max-width: 700px) {
    .title {
        font-size: 11.5vw;
        letter-spacing: 2.75vw;
    }

    .timelineWrap {
        margin: 5px;
    }

    .timelineWrap:before {
        border-top: 0.7vw dotted rgb(24, 86, 106);
    }

    .event {
        border: 0.7vw solid rgb(24, 86, 106);
        height: 22vw;
        width: 22vw;
        font-size: 2.5vw;
        letter-spacing: 0.5vw;
        font-weight: bold;
    }
}
