@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Exo:wght@500&family=Josefin+Sans&family=Lato&display=swap");

.aboutMe {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(33, 43, 65, 0.7);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Exo", sans-serif;
    height: fit-content;
    letter-spacing: 10px;
    font-size: 60px;
    padding: 25px;
    width: 100vw;
    text-align: center;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
    position: relative;
}

.timelineWrap {
    position: relative;
    width: 88%;
}

.timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.timelineWrap:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 6px dotted white;
    width: 100%;
    transform: translate(0, -50%);
}

.event {
    cursor: pointer;
    height: 18vw;
    width: 18vw;
    border-radius: 50%;
    border: 5px solid rgb(165, 168, 172);
    background-color: rgb(33, 43, 65);
    transition: 0.25s ease-out;
    font-family: "Exo", sans-serif;
    letter-spacing: 0.2vw;
    font-size: 2vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event:hover {
    border: 5px solid white;
}

.linkStyle {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 850px) {
    .aboutMe {
        height: fit-content;
        padding-bottom: 30px;
    }
    .title {
        font-size: 10vw;
        letter-spacing: 1.5vw;
        margin-bottom: 30px;
    }

    .content {
        height: 900px;
    }

    .timeline {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .timelineWrap {
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-bottom: 40px;
    }

    .timelineWrap:before {
        content: "";
        width: 1px;
        left: calc(50% - 0.5px);
        transform: translateX(-50%);
        top: 0;
        height: 98%;
        border-right: 4px dotted white;
        border-top: none;
    }

    .event {
        border: 3px solid white;
        height: 200px;
        width: 200px;
        font-size: 25px;
        letter-spacing: 2.5px;
        font-weight: bold;
    }
}
