.btn {
    color: white;
    white-space: nowrap;
    font-family: "Exo", sans-serif;
    font-size: 16px;
    margin-top: 5px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1.6px;
    cursor: pointer;
    width: fit-content;
}
.btn > span {
    position: relative;
}
.btn > span:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.11s ease-in;
}

.btn:hover > span:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
