@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");

.pic {
    position: relative;
    height: 100vh;
    width: 1500px;
    margin: 0px;
    padding: 0px;
}

.headingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Exo", sans-serif;
    padding: 30px;
    color: white;
    z-index: 2;
    font-size: x-large;
    text-align: center;
}

.title {
    letter-spacing: 20px;
}
