.visualSection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 62vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(3, 194, 159);
    padding: 10px;
    padding-bottom: 0;
    width: 54.5vw;
    border-radius: 10px;
    cursor: pointer;
}

.graph {
    z-index: 3;
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    min-width: 100%;
    min-height: 10vh;
    position: relative;
}

@media screen and (max-width: 800px) {
    .visualSection {
        width: 54.5vw;
        height: 35vw;
        padding: 4px;
        padding-bottom: 0px;
    }

    .graph {
        margin-bottom: 4px;
    }
}
