.graph {
    border: 4px solid rgb(3, 194, 159);
    overflow: hidden;
    border-radius: 10px;
    width: 44vw;
    height: 26vw;
    position: relative;
}

@media screen and (max-width: 750px) {
    .graph {
        width: 88vw;
        height: 53vw;
    }
}
