.codeSection {
    height: 48vh;
    overflow: scroll;
    background-color: rgb(3, 194, 159);
    padding: 10px;
    width: 54.5vw;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .codeSection {
        width: 54.5vw;
        height: 35vw;
        padding: 5px;
    }
}
