.codeSection {
    height: 26vw;
    width: 45vw;
    border: 4px solid rgb(3, 194, 159);
    border-radius: 10px;
    margin-right: 25px;
}

@media screen and (max-width: 750px) {
    .codeSection {
        width: 88vw;
        height: fit-content;
        margin-bottom: 20px;
        margin-right: 0px;
    }
}
