.container {
    width: fit-content;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    margin: 0px;
}

.container pre {
    margin: 0em !important;
    margin-right: 20px;
    font-size: 0.62vw;
    height: 26vw;
    overflow-y: scroll;
}

@media screen and (max-width: 750px) {
    .container {
        height: fit-content;
    }
    .container pre {
        width: 88vw;
        height: fit-content;
        font-size: 1vh;
    }
}
