@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Exo:wght@500&family=Josefin+Sans&family=Lato&display=swap");

.connect {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    background-color: rgb(217, 228, 227, 0.6);
    z-index: 2;
}

.pic {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.title {
    font-family: "Exo", sans-serif;
    height: fit-content;
    letter-spacing: 10px;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 5px;
    width: 100vw;
    text-align: center;
    color: rgb(24, 86, 106);
    z-index: 2;
}

.content {
    height: 90vh;
    overflow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    z-index: 2;
}

.socialContainer {
    position: relative;
    top: 30px;
    margin-bottom: 70px;
    justify-content: center;
    border: 7px dotted rgb(24, 86, 106);
    border-radius: 50%;
    width: 65vh;
    height: 65vh;
}

.social {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    border: 5px solid rgb(24, 86, 106);
    background-color: rgb(217, 228, 227);
    transition: 0.3s ease-out;
}

.social:nth-child(1) {
    left: 100%;
}

.social:nth-child(2) {
    top: 0%;
}

.social:nth-child(3) {
    left: 0%;
}

.social:nth-child(4) {
    top: 100%;
}

.icon1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.icon2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.social:hover {
    border: 7px solid rgb(217, 228, 227);
    background-color: rgb(24, 86, 106);
}

.social:hover > .icon1 {
    opacity: 0;
}
.social:hover > .icon2 {
    opacity: 1;
}

@media screen and (max-width: 700px) {
    .title {
        padding-top: 5vw;
        font-size: 11.5vw;
        line-height: 16vw;
        letter-spacing: 2.3vw;
        padding-left: 0px;
        padding-right: 0px;
    }
    .content {
        height: 110vw;
    }

    .socialContainer {
        width: 65vw;
        height: 65vw;
        border: 0.7vw dotted rgb(24, 86, 106);
    }

    .social {
        border: 0.7vw solid rgb(24, 86, 106);
        height: 18vw;
        width: 18vw;
    }
}
