@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.ligo {
    background-color: rgb(54, 54, 54);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    width: 100%;
    position: relative;
}

.photo {
    border: 2px solid white;
    position: absolute;
    top: 0px;
    right: 30px;
    width: 30vw;
    height: 55vh;
    z-index: 1;
    opacity: 0;
    transition: 0.2s ease-out;
}

.workTitle,
.description {
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.workTitle {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 7px;
    border-bottom: 6px solid rgb(3, 194, 159);
    width: fit-content;
}

.description {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.keyTool {
    z-index: 4;
    color: rgb(3, 194, 159);
    font-size: 28px;
    cursor: default;
}

.keyTool:hover ~ .photo {
    color: white;
    opacity: 0.2;
}

.header {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    min-width: 375px;
    min-height: 143px;
    position: relative;
}

.myWork {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 30px;
    height: 80vh;
    width: 98vw;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #4d4d4d;
    border-radius: 20px;
}
