@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.ligo {
    /* background-color: #363636; */
    background-color: rgb(33, 43, 65);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.logo {
    min-width: 375px;
    min-height: 143px;
    position: relative;
    margin-top: 5px;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    width: 100%;
    position: relative;
    padding-top: 10px;
}

.workTitle,
.description {
    margin-left: 25px;
    margin-right: 25px;
}

.workTitle {
    font-family: "Exo", sans-serif;
    margin-top: 30px;
    width: fit-content;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    /* border-bottom: 5px solid rgb(3, 194, 159); */
    color: white;
    border-bottom: 5px solid white;
}

.description {
    font-family: "Open Sans", sans-serif;
    color: rgb(204, 205, 207);
    /* color: white; */
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 28px;
}

.keyTool {
    /* color: rgb(3, 194, 159); */
    /* text-decoration: wavy; */
    color: white;
}

/* .keyTool:hover {
    z-index: 3;
} */

/* .photo {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30vw;
    height: 50vh;
    z-index: 2;
    opacity: 0.25;
    transition: opacity 150ms ease-out;
} */

.hidden {
    opacity: 0;
}

.myWork {
    width: 100vw;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .logo {
        min-width: 188px;
        min-height: 72px;
    }

    .background {
        padding-top: 5px;
    }

    .workTitle,
    .description {
        margin-left: 20px;
        margin-right: 20px;
    }

    .workTitle {
        font-size: 20px;
        letter-spacing: 2px;
        /* border-bottom: 3px solid rgb(3, 194, 159); */
        border-bottom: 3px solid white;
    }

    .description {
        font-size: 14px;
        line-height: 19px;
    }

    .myWork {
        margin-top: 30px;
    }
}
