@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.ligo {
    background-color: #363636;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.logo {
    min-width: 375px;
    min-height: 143px;
    position: relative;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    width: 100%;
    position: relative;
    padding-top: 10px;
}

.workTitle,
.description {
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}

.workTitle {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 5.7vh;
    letter-spacing: 1vh;
    border-bottom: 0.8vh solid rgb(3, 194, 159);
    width: fit-content;
}

.description {
    font-size: 3.5vh;
    letter-spacing: 0.2vh;
    line-height: 5vh;
}

.keyTool {
    color: rgb(3, 194, 159);
    font-size: 3.7vh;
    cursor: default;
}

.keyTool:hover {
    z-index: 3;
}

.photo {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30vw;
    height: 50vh;
    z-index: 2;
    opacity: 0.25;
    transition: opacity 150ms ease-out;
}

.hidden {
    opacity: 0;
}

.myWork {
    background: #393939;
    box-shadow: 5px 5px 10px #212121, -5px -5px 10px #515151;
    padding-top: 30px;
    height: fit-content;
    width: 95vw;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 20px;
}

@media screen and (max-width: 800px) {
    .logo {
        min-width: 70vw;
        min-height: 30vw;
    }

    .background {
        padding-top: 5px;
    }

    .workTitle,
    .description {
        margin-left: 10px;
        margin-right: 10px;
    }

    .workTitle {
        font-size: 5.7vw;
        letter-spacing: 1vw;
        margin-top: 10px;
        border-bottom: 0.8vw solid rgb(3, 194, 159);
    }

    .description {
        font-size: 3.5vw;
        letter-spacing: 0.2vw;
        line-height: 5vw;
    }

    .keyTool {
        font-size: 3.7vw;
    }

    .myWork {
        margin-top: 20px;
        padding-top: 10px;
        width: 95vw;
        padding-bottom: 0px;
    }
}
