.eachSlide {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid yellow;
    margin-bottom: 8vh;
    /* background: #393939;
    box-shadow: 5px 5px 10px #212121, -5px -5px 10px #515151;
    padding-top: 30px;
    height: fit-content;
    border-radius: 20px;
    margin-bottom: 30px; */
}

.content {
    display: flex;
    flex-direction: column;
}

/* .blobDiv {
    display: flex;
    align-items: center;
} */

/* .nonMobile {
    background: #393939;
    box-shadow: 5px 5px 10px #212121, -5px -5px 10px #515151;
    padding-top: 30px;
    height: fit-content;
    border-radius: 20px;
    margin-bottom: 30px;
}

.mobileVersion {
    display: none;
} */

@media screen and (max-width: 800px) {
    .eachSlide {
        margin-bottom: 8vw;
        flex-direction: column;
    }
}

/* @media screen and (max-width: 800px) {
    .nonMobile {
        display: none;
    }

    .eachSlide {
        background: #393939;
        box-shadow: 5px 5px 10px #212121, -5px -5px 10px #515151;
        padding-top: 30px;
        height: fit-content;
        border-radius: 20px;
        margin-bottom: 30px;
    }
    .mobileVersion {
        display: block;
    }
} */
