.eachSlide {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 32px;
}

.blobDiv {
    display: flex;
    align-items: center;
}

.carousel-root {
    border: 2px solid yellow !important;
}

.carousel > .carousel-status {
    border: 4px solid white !important;
}

button.control-arrow.control-next {
    border: 4px solid white !important;
}
