@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");

.polaroid {
    border: 10px solid white;
}

.backgroundPic {
    position: relative;
    min-width: 35vh;
    min-height: 45vh;
    overflow: hidden;
    border: 5px solid white;
}

.bottomLabel {
    position: relative;
    height: 40px;
    background-color: white;
    border: 5px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title,
.date {
    padding: 3px;
    width: fit-content;
    margin-top: 5px;
    font-family: "Exo", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: rgb(24, 86, 106);
}
