@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");

.backgroundPic {
    position: relative;
    width: 250px;
    height: 325px;
    overflow: hidden;
    border: 8px solid white;
}

.bottomLabel {
    position: relative;
    height: 50px;
    background-color: white;
    border: 8px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title,
.date {
    padding: 5px;
    font-family: "Exo", sans-serif;
    letter-spacing: 1.6px;
    font-size: 16px;
    color: rgb(33, 43, 65);
}

@media only screen and (max-width: 400px) {
    .backgroundPic {
        width: 200px;
        height: 260px;
        border: 5px solid white;
    }
}
