@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.viewWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 2;
    overflow: hidden;
}

.card {
    z-index: 3;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background-color: rgb(24, 86, 106);
    border: 10px solid rgb(217, 228, 227);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.title,
.content,
.button {
    color: rgb(217, 228, 227);
}

.button {
    margin-bottom: 15px;
}

.title {
    text-transform: uppercase;
    margin: 15px;
    font-family: "Exo", sans-serif;
    letter-spacing: 3.5px;
    font-size: 35px;
}

.content {
    width: 750px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid red;
}

.description {
    font-family: "Open Sans", sans-serif;
    width: 430px;
}

@media only screen and (max-width: 800px) {
    .card {
        width: 95vw;
        height: 95vh;
    }

    .title {
        letter-spacing: 2.5px;
        font-size: 25px;
        margin-bottom: 5px;
    }

    .content {
        overflow-y: scroll;
        height: 80vh;
        margin-bottom: 15px;
        justify-content: center;
    }
    .description {
        width: 85vw;
        font-size: 15px;
        letter-spacing: 1.5px;
        line-height: 19px;
    }
}
