@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.viewWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 2;
    overflow: hidden;
}

.card {
    z-index: 3;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background-color: rgb(33, 43, 65);
    border: 5px solid white;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.title,
.content,
.button {
    color: white;
}

.button {
    margin-bottom: 15px;
}

.title {
    text-transform: uppercase;
    margin: 15px;
    font-family: "Exo", sans-serif;
    letter-spacing: 4.5px;
    font-size: 45px;
}

.content {
    width: 700px;
    height: 430px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.description {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 24px;
    color: white;
    width: 400px;
}

@media only screen and (max-width: 815px) {
    .card {
        width: 95vw;
        height: 90vh;
    }

    .title {
        letter-spacing: 0.7vw;
        font-size: 7vw;
        margin-top: 25px;
        margin-bottom: 0;
    }

    .content {
        overflow-y: scroll;
        height: 65vh;
        width: 85vw;
        margin-bottom: 25px;
        justify-content: center;
    }
    .description {
        width: 78vw;
        letter-spacing: 2px;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 70px;
    }
}
