@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.viewWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 2;
    overflow: hidden;
}

.card {
    z-index: 3;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 80vh;
    background-color: rgb(24, 86, 106);
    border: 8px solid rgb(217, 228, 227);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.title,
.content,
.button {
    width: fit-content;
    color: rgb(217, 228, 227);
}

.button {
    margin-bottom: 15px;
}

.title {
    text-transform: uppercase;
    padding: 1.5vw;
    font-family: "Exo", sans-serif;
    font-size: 3.5vw;
    letter-spacing: 0.2vw;
    line-height: 5vw;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
    overflow-y: scroll;
    font-family: "open", sans-serif;
    width: 95%;
    border: 1px solid yellow;
}

.description {
    font-family: "Open Sans", sans-serif;
    margin-right: 20px;
    font-size: 1.3vw;
    letter-spacing: 0.05vw;
    line-height: 1.7vw;
    height: fit-content;
}

@media only screen and (max-width: 650px) {
    .card {
        width: 95vw;
        height: 95vh;
    }

    .title {
        font-size: 3.5vh;
        letter-spacing: 0.2vh;
        line-height: 5vh;
    }

    .content {
        flex-direction: column;
        align-items: center;
        min-height: 70vh;
    }
    .description {
        font-size: 3.5vw;
        letter-spacing: 0.2vw;
        line-height: 5vw;
        margin-bottom: 20px;
    }
}
