@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400&family=Exo:wght@500&family=Josefin+Sans&family=Lato&display=swap");

.projectCard {
    cursor: pointer;
    width: fill;
    height: fill;
    margin: 1.8vw;
    transition: 0.35s ease-out;
    -webkit-transition: 0.35s ease;
}

.backgroundPic {
    position: relative;
    width: 28vw;
    min-height: 30vw;
    overflow: hidden;
    border: 10px solid white;
}

.bottomLabel {
    position: relative;
    border: 10px solid white;
    border-top: 0;
    height: 4.5vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title,
.date {
    padding: 5px;
    width: fit-content;
    font-family: "Exo", sans-serif;
    letter-spacing: 3px;
    font-size: 2vw;
    color: rgb(24, 86, 106);
}

.projectCard:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 800px) {
    .backgroundPic {
        position: relative;
        width: 37vw;
        min-height: 50vw;
        overflow: hidden;
        border: 1.8vw solid white;
    }

    .title,
    .date {
        padding: 1vw;
        padding-top: 2vw;
        width: fit-content;
        font-family: "Exo", sans-serif;
        letter-spacing: 0.5vw;
        font-size: 3.3vw;
    }

    .bottomLabel {
        border: 1.8vw solid white;
        border-top: 0;
        height: 9vw;
    }
}
