@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Exo:wght@500&family=Josefin+Sans&family=Lato&display=swap");

.experience {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

.pic {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.content {
    align-items: center;
    overflow: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.title {
    font-family: "Exo", sans-serif;
    height: fit-content;
    letter-spacing: 10px;
    font-size: 60px;
    padding: 25px;
    width: 100vw;
    text-align: center;
    color: white;
    z-index: 0;
}

.projects {
    width: 95%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin: 0;
    padding: 0;
}

.card {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    margin: 20px;
}

@media only screen and (max-width: 850px) {
    .title {
        font-size: 10vw;
        letter-spacing: 1.5vw;
        margin-bottom: 1vh;
    }

    .projects {
        margin: 5px;
        gap: 0px;
    }

    .card {
        margin: 10px;
        margin-bottom: 60px;
    }
}
