.word {
    display: block;
    font-size: 30px;
    font-family: "Exo", sans-serif;
    letter-spacing: 4px;
    color: white;
    /* border: 1px solid white; */
}

.word span {
    color: white;
    position: relative;
    /* border: 1px solid red; */
}

.cursor {
    width: 4px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 0;
    right: -10px;
    /* margin-left: 10px; */
    /* animation: blink 0.6s ease infinite alternate-reverse; */
}

.empty {
    visibility: hidden;
}

.empty .cursor {
    visibility: visible;
    color: red;
    right: 0;
}

@keyframes blink {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

@media only screen and (max-width: 700px) {
    .word {
        font-size: 4.9vw;
        letter-spacing: 1vw;
    }

    .cursor {
        width: 0.55vw;
        height: 6.2vw;
        right: -0.9vw;
    }
}
